body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: #0c2340;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.home-button {
    background-color: white;
    color: #0c2340;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: #39FF14;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    padding: 10px;
}

.player-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card h2 {
    font-size: 20px;
    margin: 10px 0;
}

.stats {
    padding: 10px;
    text-align: left;
}

.stats p {
    margin: 5px 0;
    font-size: 14px;
}

.stats p strong {
    color: #0c2340;
}